@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
		font-family: Flaticon;
        font-size: 15px;
		font-style: normal;
		margin-left: 40px;
		color: #808080;
		position: relative;
		


}
.flaticon-bird1:before {
	content: "\e000";
}
.flaticon-facebook55:before {
	content: "\e001";
}
.flaticon-linkedin11:before {
	content: "\e002";
}
.flaticon-new48:before {
	content: "\e003";
}

